<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="NickAnthony" content="stockticker">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock Ticker App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.css" type="text/css">
  </head>

  <body>
    <div class="container container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar" type="button">
          <a href="/">HOME</a>
        </button>
      </nav>
      <h3>Stock Ticker Application</h3>
      <div class=plot>
        <form method="post">
          <div class="form">
            <label for="tickerInput">Input Ticker Name (and press enter):<br></label>
            <input name="tickerInput" type="text" class="form-control-sm" id="tickerInput" value="">
            <p>A full list of tickers in the dataset can be found <a href="https://www.quandl.com/databases/WIKIP/data" target="_blank">here</a></p>
          </div>
        </form>
        <h5>Stock Chart</h5>
        {{ div | safe }}
        {{ script | safe }}
      </div>    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.js"></script>
  </body>
</html>
